<h1>{{t "My Wishlists"}}</h1>

<ul>
{{#each models}}
  <li>
    <a href="/wishlist/{{id}}">{{title}}</a>
    ({{#if default}}{{t "default"}}, {{/if}}{{t "num_items" count_all_active_items}})
  </li>
{{/each}}
</ul>
