<h1>{{localize "My Wishlists"}}</h1>

<ul>
{{#each models}}
  <li>
    <a href="/wishlist/{{id}}">{{title}}</a>
    ({{#if default}}{{localize "default"}} {{/if}}{{count_all_active_items}} {{localize count_inflected_label}})
  </li>
{{/each}}
</ul>
