<!doctype html>
<html lang="en">

  <head>
    <meta charset='utf-8'/>
    <title>{{appData.title}} | Rendr Example App</title>

    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />
    <link href="/styles.css" media="screen" rel="stylesheet" type="text/css" />

  </head>

  <body class="">
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">{{appData.title}}</a>
          </div>
          <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
          </ul>
          <div class="loading-indicator">Loading&hellip;</div>
        </div>

    </div>

    <section id="content" class="container">
      <a class="btn btn-large btn-primary" href="/">Button</a>
      {{{body}}}
    </section>

    <script src="/mergedAssets.min.js"></script>
    <script>
    (function() {
      var App = window.App = new (require('app/app'))({{json appData}});
      App.bootstrapData({{json bootstrappedData}});
      App.start();
    })();
    </script>

  </body>

</html>
